{% extends 'main.html' %}
{% block title %}
    Login Account
{% endblock title %}
{% block content %}
    <div style="margin-left: 20%; margin-right: 20%;">
        <h1 style="font-size: 40px;">Login</h1>
    </br>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">Username: {{ form.username }}</label>
        </div>
        <div class="field">
            <label class="label">Password:  {{ form.password }}</label>
        </div>
        <input class="button" type="submit" value="Login">
    </form>
    </br>
    <a class="button is-info" href="{% url 'register' %}">Register instead</a>
</div>
{% endblock content %}
