{% extends 'main.html' %}
{% block title %}
    Trash
{% endblock title %}
{% block content %}
    <div class="columns">
        <div class="column is-one-quarter">
            <!-- Left Side-->
            <div class="block">
                <a href="{% url 'edit_note' %}" class="button">Go Back</a>
            </div>
            <aside class="menu">
                <p class="menu-label">Notes</p>
                <ul class="menu-list">
                    {% for note in notes %}
                        {% if note.is_trashed == True %}
                            <li>
                                <a href="{% url 'view_trash' %}?note_id={{ note.id }}">{{ note.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </div>
        <div class="column">
            <!-- Right -->
            {% if note %}
                <!-- show if there is a note -->
                <div class="box">
                    <div class="field">
                        <label class="label">
                            Title
                            {% if note %}
                                <span class="has-text-grey-light">
                                    Created at: {{ note.created_at|date:"m/d Y" }} /
                                    Modified at: {{ note.modified_at|date:"m/d Y" }}
                                </span>
                            {% endif %}
                        </label>
                        <div class="box">
                            <h4>{{ note.title }}</h4>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Body</label>
                        <div class="box">
                            <h4>
                                {% if note %}{{ note.body }}{% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <a href="{% url 'untrash_note' note.id %}" class="button is-success">Untrash</a>
                        </div>
                        <div class="control">
                            <a href="{% url 'delete_note' note.id %}" class="button is-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
